@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  margin: auto;
  max-width: 1900px;
  height: 100%;
  background-color: #121212;
}

button {
  transition: .3s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bar_nome_user a .div_nome_user,
.bar_p_e a,
.bar_new a,
.bar_e a,
.bar_forum a,
.bar_sair button {
  transition: .3s;
}

.bar_nome_user a .div_nome_user:hover,
.bar_p_e a:hover,
.bar_new a:hover,
.bar_e a:hover,
.bar_forum a:hover,
.bar_sair button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bar_lateral {
  position: absolute;
  position: fixed;
  font-family: "Inter";
  font-weight: 600;
  z-index: 999;
  width: 300px;
  height: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  color: #ffffffff;
  background-color: #121212;
  box-shadow: #2a2a2a2a 10px 10px 10px 10px;
}

.bar_titulo {
  font-family: "Keania One";
  font-size: 2rem;
  width: 100%;
  display: flex;
}

.bar_nome_user a .div_nome_user {
  width: 100%;
  height: auto;
  color: #ffffffff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar_p_e a,
.bar_forum a,
.bar_new a,
.bar_sair button {
  color: #ffffffff;
  font-size: 1.2rem;
  font-weight: 500;

  cursor: pointer;
}

.bar_p_e a {
  width: 150px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar_new a,
.bar_sair button,
.div_nome_user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar_forum a {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  border-radius: 10px;
}

.bar_p,
.bar_forum,
.bar_new {
  margin-top: 10px;
}

.bar_sair {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.bar_lateral img {
  width: 30px;
}

.bar_forum a img {
  width: 60px;
}

.container {
  width: 95%;
  padding-left: 280px;
  display: flex;
  flex-direction: column;
  color: #ffffffff;
  align-items: center;
}

.titulo_ex {
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  padding: 50px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.exibicao {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-top: 15px;
  margin-bottom: 30px;
  align-items: center;
  background-color: #2A2A2A;
  border-radius: 15px;
}

.post {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.img_post img {

  width: 800px;
  height: auto;
  margin-top: 10px;
  object-fit: cover;
}

.img_post video {
  width: 800px;
  height: auto;
  margin-top: 10px;
  object-fit: cover;
}

.post_user {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.post_user button {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffffff;
}

.post_user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.botões_cc {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
  margin-top: 5px;
}

.curtida {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: #FD5560;
}

.qtd_curtida {
  display: flex;
}

.curtida img {
  width: 70px;
  height: 60px;
}

.curtida button {
  background: none;
  border: none;
}

.comentario {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comentarios button {
  border: none;
}

.comentarios img {
  width: 60px;
}

.desc_post {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.desc_txt {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  white-space: normal;
}

.adicionar_comentario {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo_comentario1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: gray solid 1px;
  padding-top: 10px;
}

.titulo_comentario1 img {
  width: 40px;
}

.titulo_comentario {
  width: auto;
  margin-right: 10px;
}

.adicionar_comentario textarea {
  display: flex;
  min-width: 600px;
  max-width: 600px;
  background: none;
  border: none;
  height: 30px;
  color: #ffffffff;
  resize: none;
  padding: 2px;
  line-height: 25px;
  font-size: 1.1rem;
}

.adicionar_comentario button {
  width: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.adicionar_comentario button img {
  width: 20px;
}

.todos_com {
  width: 800px;
  margin-top: 10px;
}

.texto_dos_comentarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(53, 52, 52);
  border-radius: 10px;
}

.texto_comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.texto_dos_comentarios .nome_quem_comentou {
  margin-bottom: 3px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nome_quem_comentou img {
  width: 18px;
  height: 18px;
  object-fit: cover;
  border-radius: 50%;
}

.new_com {
  font-size: 1rem;
  margin-left: 5px;
  word-wrap: break-word;
  white-space: normal;
}

button {
  background: none;
  border: none;
}