@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: auto;
    max-width: 1900px;
    height: 100%;
    background-color: #121212;
    background-image: url(../assets/imgs/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background: none;
    border: none;
}

button {
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.bar_nome_user a .div_nome_user,
.bar_p_e a,
.bar_new a,
.bar_e a,
.bar_forum a,
.bar_sair button {
    transition: .3s;
}

.bar_nome_user a .div_nome_user:hover,
.bar_p_e a:hover,
.bar_new a:hover,
.bar_e a:hover,
.bar_forum a:hover,
.bar_sair button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bar_lateral {
    position: absolute;
    position: fixed;
    font-family: "Inter";
    font-weight: 600;
    z-index: 999;
    width: 300px;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    color: #ffffffff;
    background-color: #1515125e;
    box-shadow: #2a2a2a2a 10px 10px 10px 10px;
}

.bar_titulo {
    font-family: "Keania One";
    font-size: 2rem;
    width: 100%;
    display: flex;
}

.bar_nome_user a .div_nome_user {
    width: 100%;
    height: auto;
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_p_e a,
.bar_forum a,
.bar_new a,
.bar_sair button {
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 500;

    cursor: pointer;
}

.bar_p_e a {
    width: 150px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_new a,
.bar_sair button,
.div_nome_user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_forum a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    border-radius: 10px;
}

.bar_p,
.bar_forum,
.bar_new {
    margin-top: 10px;
}

.bar_sair {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.bar_lateral img {
    width: 30px;
}

.bar_forum a img {
    width: 60px;
}

.container {
    height: 100%;
    width: 100%;
    margin-left: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1%;
    padding-top: 2%;
    position: relative;
}

.card {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.titulo {
    background-color: #121212;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-family: "Sofia Sans";
    font-size: 1.5rem;
    border-radius: 15px 15px 0px 0px;
}

.add_arquivo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px rgba(0, 255, 100, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.add_arquivo .imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    margin-bottom: 0px;
}

.add_arquivo .imagem img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.add_arquivo .imagem video {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.add_arquivo .txt_add_arquivo {
    font-family: "Sofia Sans";
    margin-bottom: 3%;
    font-size: 1.3rem;
}

.botao_add {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.botao_add input {
    display: none;
}

.botao_add span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8%;
    background-color: #121212;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.botao_add span {
    transition: .3s;
}

.botao_add span:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.add_arquivo .desc {
    width: 100%;
    height: 50%;
    padding: 5%;
}

.desc .txt_desc {
    margin-left: 2%;
    font-family: "Sofia Sans";
    font-size: 1.2rem;
}

.desc textarea {
    width: 100%;
    height: 120px;
    background-color: #121212;
    height: 85%;
    padding: 5%;
    color: #FFFFFF;
    border-radius: 10px;
    resize: none;
}

.botao_enviar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_bob {
    z-index: 99999;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.botao_enviar button {
    width: 65%;
    background-color: #38EF7D;
    font-family: "Keania One";
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.tudo_certo {
    margin-top: 10px;
    margin-bottom: 30px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.botões_cc {
    display: flex;
}

.opcional-texto {
    font-size: 0.rem;
    color: #999898;
    margin-top: 5px;
    font-style: italic;
}

.bobIA {
    width: 100%;
    margin-bottom: 10px;
}

.bobIA button {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
}

.bobIA button img {
    width: 100px;
}

.IA {
    position: absolute;
    z-index: 999;
    width: 400px;
    right: 30px;
    top: 67px;
    background-color: #1A1A2E;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 30px 0px 30px 0px;
    gap: 10px;
    align-items: center;
    font-family: "Orbitron";
    box-shadow: 0 0 20px #5f5f5f27;
    color: #fff;
}

.IA h1 {
    display: flex;
    justify-content: center;
}

.IA h1 img {
    width: 150px;
}

.IA textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    font-family: "Inter";
    font-weight: 600;
    border: none;
}

.IA button {
    background-color: #121212;
    color: #fff;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    font-family: "Orbitron";
}

#resposta {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
    font-family: "Inter";
    font-weight: 600;
    border-radius: 30px 0px 30px 0px;
    color: #000;
}

.botao_copiar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.botao_copiar button {
    width: auto;
    background: none;
    border: none;
}

.botao_copiar button img {
    width: 30px;
}