@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: auto;
    max-width: 1900px;
    height: 100%;
    background-color: #121212;
    background-image: url(../assets/imgs/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background: none;
    border: none;
}


button {
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.bar_nome_user a .div_nome_user,
.bar_p_e a,
.bar_new a,
.bar_e a,
.bar_forum a,
.bar_sair button {
    transition: .3s;
}

.bar_nome_user a .div_nome_user:hover,
.bar_p_e a:hover,
.bar_new a:hover,
.bar_e a:hover,
.bar_forum a:hover,
.bar_sair button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bar_lateral {
    position: absolute;
    position: fixed;
    font-family: "Inter";
    font-weight: 600;
    z-index: 999;
    width: 300px;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    color: #ffffffff;
    background-color: #1515125e;
    box-shadow: #2a2a2a2a 10px 10px 10px 10px;
}

.bar_titulo {
    font-family: "Keania One";
    font-size: 2rem;
    width: 100%;
    display: flex;
}

.bar_nome_user a .div_nome_user {
    width: 100%;
    height: auto;
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_p_e a,
.bar_forum a,
.bar_new a,
.bar_sair button {
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 500;

    cursor: pointer;
}

.bar_p_e a {
    width: 150px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_new a,
.bar_sair button,
.div_nome_user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_forum a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    border-radius: 10px;
}

.bar_p,
.bar_forum,
.bar_new {
    margin-top: 10px;
}

.bar_sair {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.bar_lateral img {
    width: 30px;
}

.bar_forum a img {
    width: 60px;
}

.container {
    width: 100%;
    height: 100%;
    padding-left: 280px;
    display: flex;
    flex-direction: column;
    color: #ffffffff;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin-top: 20px;
    padding: 30px;
    width: 1100px;
    color: #222222;
    border-radius: 20px;
    box-shadow: rgba(137, 137, 137, 0.134) 0px 0px 7px 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.titulo img {
    width: 100px;
    ;
}

.titulo .nome_user {
    background-color: #181818;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins";
    font-size: 2.5rem;
    padding: 5px;
    color: #ffffffff;
}

.subtitulo {
    font-size: 1rem;
    color: #cccccc;
    margin-top: 2px;
}

.card_estatiscas {
    margin-top: 20px;
    width: 1100px;
    height: 180px;
    display: flex;
    color: #121212;
    gap: 20px;
}

.card {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f4f8;
    box-shadow: rgba(137, 137, 137, 0.279) 0px 0px 7px 7px;
}

.titulo_card {
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_imagem_p {
    width: 50px;
    height: 50px;
    background-color: rgb(97, 68, 56);
    border-radius: 50%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card_imagem_c {
    width: 50px;
    height: 50px;
    background-color: #ec7184;
    border-radius: 50%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card_imagem_cc {
    width: 50px;
    height: 50px;
    background-color: #7f8c8d;
    border-radius: 50%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card_imagem_p img,
.card_imagem_c img,
.card_imagem_cc img {
    width: 45px;
    height: 100%;
}

.qtd_card {
    width: 100%;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-left: 6px;
}

.status_qtd {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.status_qtd span {
    color: #229d55;
    font-weight: 600;
}

.status_qtd .vermelho {
    color: #e74c3c;
    font-weight: 600;
}

.status_qtd img {
    width: 20px;
}

.grafico {
    width: 1100px;
    height: 330px;
    background-color: #fafafa;
    color: #121212;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(137, 137, 137, 0.279) 0px 0px 7px 7px;
}

.grafico .titulo_grafico {
    width: 100%;
    font-size: 2rem;
    margin-left: 30px;
    margin-bottom: 10px;
}

.grafico_chart {
    width: 100%;
    height: 100%;
}